.posts{
    flex: 9;
   margin: 24px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
@media (max-width: 500px) {
    .posts{
        display: flex;
        margin-left: 0;
    }
}